<template name="talksNew">
  <form class="{{talkKind}}">
    <legend>Nouveau talk</legend>
    <div class="field">
      <label>Speaker</label>
      <input type="text" value="{{currentUser.profile.name}}" disabled/>
    </div>
    <div class="field">
      <label for="new-talk-kind">Type de talk</label>
      <select id="new-talk-kind">
        <option value="tech">Technique</option>
        <option value="non-tech">Non-technique</option>
      </select>
    </div>
    <div class="field">
      <label for="new-talk-title">Titre</label>
      <input id="new-talk-title" type="text" />
    </div>
    <div class="field">
      <label for="new-talk-description">Description</label>
      <textarea id="new-talk-description"></textarea>
    </div>
    <div class="actions">
      <input type="submit" value="Créer" />
    </div>
  </form>
</template>

