<template name="talksNew">
  <form>
    <legend>Nouveau talk</legend>
    <div class="field">
      <label>Speaker</label>
      <input type="text" value="{{currentUser.profile.name}}" disabled/>
    </div>
    <div class="field">
      <label for="new-talk-title">Titre</label>
      <input id="new-talk-title" type="text" value="{{title}}" />
    </div>
    <div class="field">
      <label for="new-talk-description">Description</label>
      <textarea id="new-talk-description">{{description}}</textarea>
    </div>
    <div class="actions">
      <input type="submit" value="Enregistrer" />
    </div>
  </form>
</template>

