<template name="talksEdit">
  {{#with talk}}
    <form class="{{kind}}">
      <legend>Modifier le talk</legend>
      <div class="field">
        <label>Speaker</label>
        <input type="text" value="{{currentUser.profile.name}}" disabled/>
      </div>
      <div class="field">
        <label for="edit-talk-kind">Type de talk</label>
        <select id="edit-talk-kind">
          <option value="tech" {{#if kindIsTech}}selected="selected"{{/if}}>Technique</option>
          <option value="non-tech" {{#if kindIsNonTech}}selected="selected"{{/if}}>Non-technique</option>
        </select>
      </div>
      <div class="field">
        <label for="edit-talk-title">Titre</label>
        <input id="edit-talk-title" type="text" value="{{title}}" />
      </div>
      <div class="field">
        <label for="edit-talk-description">Description</label>
        <textarea id="edit-talk-description">{{description}}</textarea>
      </div>
      <div class="actions">
        <input type="submit" value="Supprimer la proposition" class="delete" />
        <input type="submit" value="Modifier" />
      </div>
    </form>
  {{/with}}
</template>

