<template name="talkItem">
  <div class="talk">
    <h3>{{title}} <span class="speaker">par {{speaker}}, proposé le {{humanDate}} à {{humanTime}}</span></h3>
    <div>
      <div class="actions">
        {{#if isAdmin}}
          <a class="change-status" data-talk-id="{{this._id}}" data-new-status="{{prevStatus}}">&uarr;</a>
          <a class="change-status" data-talk-id="{{this._id}}" data-new-status="{{nextStatus}}">&darr;</a>
        {{/if}}

        {{# if isCandidate}}
          {{#if isOwner}}
            <span class="edit">
              <a href="{{talksEditPath this}}">Modif.</a>
            </span>
          {{/if}}
          <a class="vote" data-talk-id="{{this._id}}" title="Voter pour ce talk">{{votes}} vote(s)</a>
        {{/if}}
      </div>
      <div class="summary">{{summary}}</div>
    </div>
  </div>
</template>
