text_color = #202020

body
  color #202020

div.talk
  h3
    margin-bottom 5px

    span.speaker
      font-size 80%
      font-style italic
      color: lighten(text_color, 50%)

  & > div
    padding 10px
    background: invert(text_color)
    border-radius 5px


